/**
 * 全局样式
 */
:root {
  /* 字体颜色 */
  color: #262626;
  /* 背景颜色 */
  background-image: linear-gradient(
    120deg,
    #89f7fe 0%,
    #66a6ff 100%
  ); /* color-scheme: light dark; */
  -webkit-font-smoothing: antialiased;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
h2 {
  font-family: "Courier New", Courier, monospace;
}
